<div>
	
	<table align="left" class="table3">
	<tr>
	<td >
     <a target="_top" href="#">Cursos</a>
	</td>
	</tr>
	</table>
</div>
<div >
	<h2>Inscripciones 2012 - 2° Cuatrimestre</h2>
	<h3>Materias del Departamento de {{depto.cod}} {{depto._id}}</h3>

	<table align="center" class="table3">

		<tr>
			<td width="60" >
				<div align="center">c&oacute;digo</div>
			</td>
			<td width="395" >
				<div align="center">Materia</div>
			</td>
		</tr>
		<tr ng:repeat="curso in cursos">
			<td >
			<a href="#/departamentos/{{depto._id}}/cursos/{{curso.id}}">{{curso.cod}}</a>
			</td>
			<td >
			<a href="#/departamentos/{{depto._id}}/cursos/{{curso.id}}">{{curso.name}}</a>
			</td>

			</tr>
	</table>
	  
</div>